<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>初めてのVue.js</title>
  <!-- reset CSS -->
  <link rel="stylesheet" type="text/css" href="reset.css">
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <div id="app">{{ message }}</div>
  <div id="app2">
    <p v-if="error">エラーです</p>
  </div>
  <div id="app3">
    <p v-bind:class="success_class">成功です</p>
  </div>
  <div id="app4">
    <p>{{ now }}</p>
    <button v-on:click="time">現在時刻を表示する</button>
  </div>
  <div id="app5">
    <button v-on:click="shuffle">シャッフル</button>
    <transition-group name="flip-list" tag="ul">
        <li v-for="pref in prefs" v-bind:key="pref.name">
          {{ pref.name }}
        </li>
    </transition-group>
    </ul>
  </div>
  <div id="app6">
    <component-box>あ</component-box>
    <component-box>あ</component-box>
  </div>
  <!-- Vue -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <!-- Lodash -->
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.20/lodash.min.js"></script>
  <!-- javascript -->
  <script>
    var app = new Vue ({
      el: "#app",
      data: {
        message: 'サンプルメッセージ'
      }
    });
    var app2 = new Vue ({
      el: "#app2",
      data: {
        error: true
      }
    });
    var app3 = new Vue ({
      el: "#app3",
      data: {
        success_class: "success"
      }
    });
    var app4 = new Vue ({
      el: "#app4",
      data: {
        now: "00:00:00"
      },
      methods: {
        time: function(e) {
          var date = new Date();
          this.now = date.getHours() + ":" + date.getMinutes() + ":" + date.getSeconds();
        }
      }
    });
    var app5 = new Vue ({
      el: "#app5",
      data: {
        prefs: [
          { name: '北海道' },
          { name: '青森県' },
          { name: '岩手県' },
          { name: '宮城県' },
          { name: '秋田県' },
          { name: '山形県' },
          { name: '福島県' }
        ]
      },
      methods: {
        shuffle: function() {
          this.prefs = _.shuffle(this.prefs);
        }
      }
    });
    Vue.component('component-box', {
      template: `
      <div class="component" v-on:click="pop_up">
        <strong>Vue.jsで作成したコンポーネントです。</strong>
        <slot></slot>
      </div>
      `,
      methods: {
        pop_up: function() {
          alert('クリックされました');
        }
      }
    });
    var app6 = new Vue ({
      el: "#app6"
    });
 </script>
</body>
</html>